* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #DFD088;
    font-family: 'Rubik', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba (0, 0, 0, 0.1);
    backdrop-filter: blur (50px);
    z-index: -1;
}
.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba (255, 255, 255, 0.4), transparent);
    transition: .5s;
}
.header:hover::after {
    left: 100%;
}

.mynav a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 2.5rem;
    position: relative;
    padding: 20;
}

#check {
    display: none;
}

.burger {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}

nav a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 2.5rem;
    position: relative;
    padding: 10px 0;
}
nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #3C5B6F;
    transition: all .5s;
}
nav a:hover::before {
    width: 100%;
}

.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.hero-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}
@media (max-width: 768px) {
    .burger {
        display: inline-flex;
    }
    .burger #close-icon {
        display: none;
    }
    
    .mynav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba (0, 0, 0, 0.1);
        backdrop-filter: blur (50px);
        overflow: hidden;
        transition: .3s ease;
    }
    .mynav a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.mynav {
        height: 17.7rem;
    }
    #check:checked~.burger #close-icon {
        display: block;
    }
    #check:checked~.burger #menu-icon {
        display: none;
    }
    #check:checked~.mynav a {
        transform: translateY(0px);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

.footer {
    background-color: #153448;
    color: #DFD0B8;
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sams {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    color: #3C5B6F;
    text-decoration: none;
    transition: color 0.3s ease;
}
.sams::after {
    content: "Student Academic Management System";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba (255, 255, 255, 0.9);
    color: #153448;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
    z-index: 10;
}
.sams:hover {
    color: #948979;
}
.sams:hover::after {
    opacity: 1;
    visibility: visible;
}

.image-container {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
}
.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}
.image-container:hover {
    box-shadow: 0 8px 16px rgba (0, 0, 0, 0.2);
    border-radius: 12px
}
.image-container:hover .overlay {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.image-container:hover .overlay .text {
    opacity: 1;
}
.image-container:hover img {
    opacity: 0.7;
    filter: grayscale(100%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba (0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    transform: translateY(-40px);
}
.overlay .text {
    opacity: 0;
    transition: opacity 0.3s ease;
}